body {
    background-color: #f6cd61;
}

.page-wrapper {
    display: grid;
    margin: 10px;
    gap: 5px;
    width: 100%;

    grid-template-areas:
        "intro intro"
        "supporting complementary";

    grid-template-columns: 4fr 1fr;


}

.summary {
    text-align: center;
    font-size: larger;
    line-height: .5em;

    p {
        color: #0e9aa7;
    }
}

.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

[href] {
    text-decoration: none;
    color: inherit;
    font-size: 120%;


}

[href]:hover {
    font-weight: bold;
    text-decoration: underline;
}

footer {
    display: flex;
    gap: 5px;
    background-color: #0e9aa7;
    border-style: dotted;
    border-color: #f6cd61;
    justify-content: space-evenly;
    color: #f6cd61;
}

[role=contentinfo] {
    font-size: 200%;
    text-align: center;
    text-decoration: underline;

    & a {
        color: rgb(81, 157, 223);
        font-size: 110%;
    }
}


section {
    grid-area: intro;
}

header {
    text-align: center;
    color: #fe8a71;

    display: flex;
    justify-content: space-around;

    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 60pt;
    }

    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 37pt;
        padding-top: 50px;
    }

}



div[role^=main] {
    grid-area: supporting;
}

div[role=article]>h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #3da4ab;
    font-size: 45px;
    margin-bottom: 10px;
}




aside {
    grid-area: complementary;
    border-left: 1px solid;
    margin: 5px;

    div>h3 {
        font-family: 'Times New Roman', Times, serif;
        color: #3da4ab;
        margin-left: 40px;
        font-size: 150%;
    }

}



li {
    list-style-type: none;
    color: #4a4e4d;

    .designer-name {
        color: inherit;
    }

    .design-name {
        font-size: 150%;
        color: #fe8a71;
    }
}

p {
    color: #4a4e4d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width:600px) {
    p {
        font-size: 80%;
    }

    .page-wrapper {
        display: grid;
        gap: 5px;
        width: 95%;
        padding: none;
        margin: 60px;
        grid-template-areas: "intro"
            "supporting"
            "complementary";
    }

    h3 {
        text-align: center;
    }

    div[role=article]>h3 {
        font-size: 30px;
    }

    .summary {

        line-height: 100%;
    }

    aside {
        border: none;


    }

    header {

        color: #fe8a71;
        display: grid;
        justify-content: space-around;

        h1 {
            font-size: 40pt;
        }

        h2 {
            font-size: 24pt;
            padding: 0;
            margin-top: 0;
        }

    }

    [role=contentinfo] {
        font-size: 150%;
        text-align: center;
        text-decoration: underline;

        & a {
            color: rgb(81, 157, 223);
            font-size: 110%;
        }

    }