.page-wrapper {
    display: grid;
    padding: 10px;
    gap: 5px;
    width: 100%;
    background-color: rgb(194, 212, 127);
    grid-template-areas:
        "intro intro"
        "supporting complementary";

    grid-template-columns: 4fr 1fr;


}

footer {
    display: flex;
    gap: 5px;
    background-color: rgb(169, 169, 212);
    border-style: dotted;
    justify-content: space-evenly;

}

.summary {
    text-align: center;
    color: rgb(0, 0, 211);
    font-size: larger;
    line-height: .5em;
}


section {

    grid-area: intro;

}

header {
    font-family: 'Courier New';
    text-align: center;
    background-image: linear-gradient(to left, rgb(247, 55, 55), rgb(143, 224, 110), rgb(247, 55, 55));
    color: rgb(81, 157, 223);
    font-size: 20px;
}



div[role^=main] {
    grid-area: supporting;
}

div[role=article]>h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(81, 157, 223);
}


aside {
    grid-area: complementary;
    border-left: 1px solid;
    margin: 5px;

}

aside div>h3 {
    margin-left: 40px;
}

li {
    list-style-type: none
}

[href] {
    text-decoration: none;
    ;
}

@media (max-width:600px) {
    p {
        font-size: 80%;
    }

    body {
        background-color: red;
    }



}